page-login {
    #login_form {
        padding: $login-form-padding;
        padding-top: $login-form-top-padding;
    }
    .scroll-content {
        background-color: transparent;
    }    
    ion-content.content { 
        background: $login-background;
    }
}
