<ion-header>

  <ion-navbar>
    <ion-title>{{'SUBSCRIPTIONS'|translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="{{'PULL_DOWN_LOAD'|translate}}" refreshingText="{{'LOADING'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="search($event)" placeholder="{{'SEARCH'|translate}}"></ion-searchbar>

  <div *ngIf="this.list_searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <button ion-item *ngFor="let application of list" (click)="selected(application)">
      <h2>{{application.description}}</h2>
      <p>{{application.name}}</p>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="this.has_next_page">
    <ion-infinite-scroll-content loadingText="{{'LOADING'|translate}}...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>