<ion-header>

  <ion-navbar>
    <ion-title>{{'SUBSCRIPTIONS'|translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="{{'PULL_DOWN_LOAD'|translate}}" refreshingText="{{'LOADING'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="search($event)" placeholder="{{'SEARCH'|translate}}"></ion-searchbar>

  <ion-segment [(ngModel)]="mode" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="subscribed">
      {{'APP_SUBSCRIBED'|translate}}
    </ion-segment-button>
    <ion-segment-button value="unsubscribed">
      {{'APP_UNSUBSCRIBED'|translate}}
    </ion-segment-button>
  </ion-segment>


  <div *ngIf="this.list_searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>


  <div class="empty_message" *ngIf="applications[mode] && applications[mode].length == 0 && !this.list_searching">
    <ion-icon name="information-circle"></ion-icon>
    <h2 class="card-title">{{'NO_APPLICATIONS'|translate}}</h2>
  </div>

  <ng-container *ngIf="mode == 'unsubscribed'">

    <ion-card *ngFor="let application of applications[mode]">
      <ion-card-header>
        {{application.description}}
      </ion-card-header>
      <ion-card-content>
        <button ion-button icon-left block medium (click)="addApplication(application)">
          <ion-icon name="add" item-start></ion-icon>
          {{'ADD_APPLICATION'|translate}}
        </button>
        <p text-center class="notes" *ngIf="application.auth_required">
          <ion-icon name='lock'></ion-icon>
          {{'AUTH_REQUIRED'|translate}}
        </p>
        <button ion-button clear block medium icon-left (click)="selected(application)">
          <ion-icon name='pricetag'></ion-icon>
          {{'VIEW_CONTEXTS'|translate}}
        </button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="mode == 'subscribed'">
    <ion-list>
      <ion-item-sliding #slidingItem *ngFor="let application of applications[mode]">
        <button ion-item #item (press)="openOption(slidingItem, item)" (click)="selected(application)">
          {{application.description}}
        </button>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeApplication(application)">
            <ion-icon name="remove-circle"></ion-icon>
            {{'REMOVE_APPLICATION'|translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="this.has_next_page">
    <ion-infinite-scroll-content loadingText="{{'LOADING'|translate}}...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>