<!--
  Generated template for the LoginForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'FORGOT_PASSWORD'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>{{'STEP'|translate}} {{step}}: {{'FORGOT_PASSWORD_STEP_'+step+'_DESCRIPTION'|translate}}</p>
<div id="forgot_password_form">
  <ion-list>
    <ion-item *ngIf="step == 1">
      <ion-input [(ngModel)]="email" type="email" clearInput="true" placeholder="{{'EMAIL'|translate}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="step == 2">
      <ion-input [(ngModel)]="code" type="password" placeholder="{{'FORGOT_PASSWORD_CODE'|translate}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="step == 2">
      <ion-input [(ngModel)]="password" type="password" placeholder="{{'PASSWORD'|translate}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="step == 2">
      <ion-input [(ngModel)]="password_repeat" type="password" placeholder="{{'PASSWORD_REPEAT'|translate}}"></ion-input>
    </ion-item>    
  </ion-list>

  <button *ngIf="step == 1" ion-button block (click)="send(email)">{{'FORGOT_PASSWORD_SEND'|translate}}</button>
  <button *ngIf="step == 2" ion-button block (click)="reset(email,code,password,password_repeat)">{{'RESET_PASSWORD'|translate}}</button>
  <button *ngIf="step == 2" clear small ion-button block (click)="goToStep(1)">{{'FORGOT_PASSWORD_SEND_AGAIN'|translate}}</button>
</div>

</ion-content>
