<ion-header>
  <ion-navbar>
    <ion-title>{{'HOME'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="{{'PULL_DOWN_LOAD'|translate}}" refreshingText="{{'LOADING'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let news of newsfeed">
    <ion-item>
      <h2>{{news.title}}</h2>
      <p>{{news.created_at}}</p>
      <ion-icon *ngIf="news.global == 1" name="globe" item-right></ion-icon>
      <ion-icon *ngIf="news.context_name" name="pricetag" item-right></ion-icon>
    </ion-item>
    <ion-card-content>
      <p>{{news.content}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col  center text-center>
        <p *ngIf="news.context_name">{{news.context_description}}</p>
      </ion-col>
      <ion-col  center text-center>
        <ion-note>
          {{news.application_description}}
        </ion-note>
      </ion-col>      
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="this.has_next_page">
    <ion-infinite-scroll-content loadingText="{{'LOADING'|translate}}...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>