$toolbar-md-title-text-color: white;
$tabs-background: white;
$card-md-text-color: #464b5d;
$tabs-border-color: white;
$card-md-box-shadow: none;
$toolbar-background: #04505a;
$toolbar-active-color: white;
$color-primary: #02545e;

$login-form-top-padding: 225px;
$login-form-padding: 20px;
$login-background: #04505a  url("../assets/img/custom/logo-menu.png") no-repeat right 50% top 70px / 145px;
$login-background-bottom: url('../assets/img/custom/logo-unlp-pie.png') no-repeat right 50% bottom 25px / 190px;

$signup-form-top-padding: 225px;
$signup-form-padding: 20px;
$signup-background: #04505a url("../assets/img/custom/logo-menu.png") no-repeat right 50% top 70px / 145px;
$signup-background-bottom: url('../assets/img/custom/logo-unlp-pie.png') no-repeat right 50% bottom 25px / 190px;
