$toolbar-md-title-text-color: white;
$tabs-background: white;
$card-md-text-color: #464b5d;
$tabs-border-color: white;
$card-md-box-shadow: none;
$toolbar-background: #04505a;
$toolbar-active-color: white;

$login-form-top-padding: 275px;
$login-form-padding: 50px;
$login-background: #04505a  url("../../assets/images/logo-menu.png") no-repeat right 50% top 75px / 190px;
$login-background-bottom: url('../../assets/images/logo-unlp-pie.png') no-repeat right 50% bottom 25px / 250px;

$signup-form-top-padding: 275px;
$signup-form-padding: 50px;
$signup-background: #04505a url("../../assets/images/logo-menu.png") no-repeat right 50% top 75px / 190px;
$signup-background-bottom: url('../../assets/images/logo-unlp-pie.png') no-repeat right 50% bottom 25px / 250px;
