<!--
  Generated template for the NotificationDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{type|translate}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>
  <h1>{{title}}</h1>
  <ng-container *ngIf="type == 'calendar'">
    <p>{{"EVENT_DATE"|translate}}: {{this.notification.event_date|date:'medium'}}</p>
    <p>{{"EVENT_DURATION"|translate}}: {{this.notification.event_duration}}</p>
    <p>{{this.notification.event_location}}</p>
    <p>{{this.notification.event_description}}</p>
  </ng-container>
  <ng-container *ngIf="type == 'newsfeed'">
    <div [innerHtml]="markdown(this.notification.content)"></div>
    <p>{{this.notification.created_at|date:'medium'}}</p>
  </ng-container>
  <ng-container *ngIf="type == 'attendance'">
    <p>
      <ion-icon name="calendar"></ion-icon>
      {{this.notification.start_time|date:'longDate'}}
    </p>
    <p>
      <ion-icon name="time"></ion-icon>
      {{'FROM'|translate}} {{this.notification.start_time|date:'shortTime'}} {{'TO_TIME'|translate}}
      {{this.notification.end_time|date:'shortTime'}}
    </p>
    <p *ngIf="this.notification.location">
      <ion-icon name="compass"></ion-icon>
      {{this.notification.location}}
    </p>    
    <p>
      <ion-icon name="apps"></ion-icon>
      {{this.notification.application_description}}
    </p>
    <p *ngIf="this.notification.context_name != null">
      <ion-icon name="pricetag"></ion-icon>
      {{this.notification.context_name}}
    </p>
    <div>{{this.notification.description}}</div>
  </ng-container>
</ion-content>