
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>{{getAppTitle()}}</ion-title>

    <ion-buttons *ngIf="user" end>
      <button ion-button icon-right large outline (click)="openUserProfile()">
        {{user.name}} {{user.surname}}

        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-menu [content]="nav" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item menuClose (click)="openPageMapaRondin()">
        Recorrido micro universitario
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #nav swipeBackEnabled="false"></ion-nav>
