// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#sidenav {
  ion-item-group[submenu] {
    display: block;
    padding-left: 25px;
    overflow: hidden;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform .1s linear, max-height 0s .1s linear;
    &.visible {
        max-height: 9999px;
        transform: scaleY(1);
        transition: transform .1s linear, max-height 0s linear;
    }
  }
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.scroll-content {
  background-color: white;
}

p.alert {
    color: red;
}

.empty_message {
    position: relative;
    text-align: center;
    color: dimgray;
    background-color: white; 
    height: 100%;
    padding-top: 3em;
}
.empty_message ion-icon {
    vertical-align: middle;
}
.empty_message ion-icon {
    font-size: 4.0em;
    color: dimgray;
}
#user_profile {
    text-align: center;
    padding-top: $user-profile-padding;
    padding-bottom: $user-profile-padding;
    background-color: $toolbar-background;
}
#user_profile ion-avatar {
    border-radius: 50%;
    overflow: hidden;
    width: $user-profile-image-size;
    height: $user-profile-image-size;
    display: inline-block;
    margin-bottom: 10px;
}

.profile_button {
    overflow: hidden;
    max-width: 15rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    display: inline-block;
}

.toolbar-ios {
    //padding-top: env(safe-area-inset-top);∫
}

ion-content.has-refresher .fixed-content {
    background-color: $toolbar-background;
}

.platform-android {
    .header-md::after {
        background-image: none;
    }
}

.platform-ios {
    .toolbar-background-ios {
        border-style: none;
    }
    .content-ios {
        //margin-top: 1px; 
    }
    div#user_profile {
        padding-top: 6rem;
    }
    #ion-profile_button {
        //margin-bottom: 5px;
    }
    #sidenav {
        padding-top: 7px;
    }
    ion-navbar {
        height: 5rem;
    }
    ion-navbar#mainHeaderNavbar{
        margin-top: env(safe-area-inset-top);
    }
    #mainHeader {
        background-color: $toolbar-background;
    }

    ion-segment {
        margin-top: 5px;
    }
}

@import "app.custom";