page-intro {

    ion-slide {
        background-color: $toolbar-background;
        color: $toolbar-md-title-text-color;
    }

    ion-slide img {
        max-height: 70vh !important;
        width: auto !important;
    }
    ion-slide img.full {
        max-height: 100vh !important;
        width: auto !important;
    }    
    /*
    button.fab {
        border-radius: 2px;
    }
*/
}
