<ion-header>
  <ion-navbar>
    <ion-title>{{'NOTIFICATIONS'|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="{{'PULL_DOWN_LOAD'|translate}}" refreshingText="{{'LOADING'|translate}}...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="this.list_searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <div class="empty_message" *ngIf="list.length == 0 && !this.list_searching">
    <ion-icon name="sad"></ion-icon>
    <h2 class="card-title">{{'NO_NOTIFICATIONS'|translate}}</h2>
  </div>

  <ion-list *ngIf="list.length > 0">
    <button ion-item detail-none (click)="open(notification)" *ngFor="let notification of list">
      <ion-icon item-left name="{{icon(notification)}}"></ion-icon>
      {{title(notification)}}
      <p>{{notification.created_at|date:'short'}}</p>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="this.has_next_page">
    <ion-infinite-scroll-content loadingText="{{'LOADING'|translate}}...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>