page-notifications {
    .empty_message {
        position: relative;
        text-align: center;
        color: dimgray;
        background-color: white; 
        height: 100%;       
    }
    .empty_message * {
        vertical-align: middle;
    }
    .empty_message ion-icon {
        font-size: 4.0em;
        color: dimgray;
    }
}
