page-signup {
    #signup_form {
        padding: $signup-form-padding;
        padding-top: $signup-form-top-padding;
    }
    .scroll-content {
        background-color: transparent;
        background: $signup-background-bottom;
    }    
    ion-content.content { 
        background: $signup-background;
    }    
}